@media (max-width: 1200px) { 
   /* .header-padding {
        padding: 33px 39px 32px 39px;
    }
    */
 }

@media (min-width: 769px) {
  
    .burger {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-padding {
        padding: 33px 39px 32px 39px;
    }
    .burger {
        display: none;
    }
    
}

/*==========================================*/






@media (max-width: 700px) {
    .header {
        display: block;
        padding: 0px;
       
    }
    
    .header-padding {
       
    }
    
    .logo {
       justify-content: center;
       padding-top: 16px;
       padding-bottom: 16px;
       
    }
    .header-nav {
        border-top: 1px solid #C3D1C6;
        padding-top: 17.5px;
       padding-bottom: 17.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .list {
        padding-left: 33px;
    }
    .buy {
        padding-right: 55px;
    }
    .btm-burger {
       /* position: fixed;*/
      
    }
    
    .header-li {
        font-size: 18px;
    }
    .burger {
        display: none;
    }


    /*----------------------------*/
    .zagolovok {       
        font-size: 40px;
        line-height: 40px;
        }
        /*
        .content {
            max-width: 330px;
            max-height: 380px;
        }
        */
        .buttom {
            margin-top: 40px;
        }
        .zagolovok {
            padding-top: 35px;
            }
            .conteiner {
              
            }
    

}





/*========================================*/

@media (max-width: 576px) {
    .list {
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        transform: translateX(-450%);
        
    }
    
    .burger {
        display: block;
       
       /* padding-bottom: 23.5px;    */
        padding-left: 15px;
        
         
    }
    .burger.open {
        padding-top: -10px;
        padding-bottom: 0px;
    }

    .header-nav.open .list {
position: absolute;
            display: flex;
            flex-direction: column;
            font-size: 34px;
            font-weight: 600;
            transform: translateX(-4.5%);
            background-color: #E1EDE6;
            width: 100%;
            height: 100%;
            padding-left: 19.69px;
            padding-top: 16px;
           
    }
    .header-nav.open {
      
       flex-direction: column;
       
            
    
}
    .text-decoration {
        padding-bottom: 50px;
        padding-left: 20px;
    }
    .header-li {
       
    }
    .text-decoration-posledniy {
        padding-bottom: 0px;
    }
    .header-nav.open .buy {
        display: none;
    }
    .header-nav {
        background-color: #E1EDE6;
        align-items: normal;
    }
   
    .header-nav {
        border: 0;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    .buy {
        padding: 0px;
        padding-right: 15px;
    }
    
    .conteiner {
        background-color: #FFFFFF;
    }
    .logo {
        padding: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #FFFFFF;
    }
    .header-padding {
        padding: 0px;
       
}
.header-nav {
    padding: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}
    .content {
        display: none;
    }

}



